{% load thumbnail %}

<article>
  <ul>
    <li>
      Позиция: {{ item.name }}
    </li>
    <li>
      Закупщик:
      {% if item.buyer.first_name %}
      {{ item.buyer.first_name }}
      {% else %}
      {{ item.buyer.username }}
      {% endif %}
    </li>
    <li>
      Цена закупки: {{ item.purchase_unit_price }}
    </li>
    <li>
      Количество: {{ item.count }}
    </li>
  </ul>
  {% thumbnail item.image "100x100" crop="center" as im %}
  <img src="{{ im.url }}" class="rounded mx-auto d-block">
  {% endthumbnail %}
  <br>
  <p>
    <a class="btn btn-primary" href="{% url 'items:item_edit' item.id %}">Редактировать запись</a>
  </p>
  <p>
    <a class="btn btn-primary" href="{% url 'items:item_sell' item.id %}">Продано</a>
  </p>
</article>