{% load thumbnail %}

<div class="card border-0 rounded shadow-lg">
  <div class="card-content">
    <div class="card-body cleartfix">
      <div class="media-body">
        <h5>{{ sold_item }}</h5>
        Продано {{ sold_item.count }} шт. по {{ sold_item.sell_unit_price }} р. <span style="color:silver">
          {{ sold_item.sell_date }}</span>
      </div>
      <div class="align-self-center mr-3">
        {% if sold_item.comment %}
        <div class="border rounded p-2">
          <div title="{{ sold_item.comment }}"><em>{{ sold_item.comment|truncatechars:100 }}</em></div>
        </div>
        {% endif %}
      </div>
      <div class="align-self-center ">
        <a href="{% url 'items:item_comment' sold_item.id %}" class="text-secondary">
          {% if sold_item.comment %}
          <b>Изменить комментарий</b>
          {% else %}
          <b>Добавить комментарий</b>
          {% endif %}
        </a>
      </div>
      <div class="align-self-center">
        <a class="text-danger" href="{% url 'items:item_revoke' sold_item.id %}"
           onclick="return confirm('Отменить продажу и вернуть единицы в карточку товара?')"><b>Отозвать продажу</b></a>
      </div>
    </div>
  </div>
</div>