{% load thumbnail %}

<article>
  <ul>
    <li>
      Позиция: {{ sold_item }}
    </li>
    <li>
      Продавец:
      {% if sold_item.seller.first_name %}
      {{ sold_item.seller.first_name }}
      {% else %}
      {{ sold_item.seller.username }}
      {% endif %}
    </li>
    <li>
      Цена продажи: {{ sold_item.sell_unit_price }}
    </li>
    <li>
      Количество: {{ sold_item.count }}
    </li>
    <li>
      Дата: {{ sold_item.sell_date }}
    </li>
    {% if sold_item.comment %}
    <li>
      Комментарий: {{ sold_item.comment }}
    </li>
    {% endif %}
  </ul>
  {% thumbnail post.image "1024x768" upscale=True as im %}
  {% if post.image|is_portrait %}
  <img src="{{ im.url }}" width="70%" class="rounded mx-auto d-block">
  {% else %}
  <img src="{{ im.url }}" width="70%" class="rounded mx-auto d-block">
  {% endif %}
  {% endthumbnail %}
  <br>
  <p>
    <a class="btn btn-primary" href="{% url 'items:item_comment' sold_item.id %}">
      {% if sold_item.comment %}
      Изменить комментарий
      {% else %}
      Добавить комментарий
      {% endif %}
    </a>
  </p>
  <p>
    <a class="btn btn-danger" href="{% url 'items:item_revoke' sold_item.id %}"
       onclick="return confirm('Отозвать продажу?')">Отозвать продажу</a>
  </p>
</article>