{% extends 'base.html' %}

{% load user_filters %}

{% block title %}Остаток{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Остаток</h1><br>
  {% for item in items %}
  {% include 'includes/item.html' %}
  {% if not forloop.last %}
  <hr>
  {% endif %}
  {% endfor %}
  {% if user.is_authenticated %}
  <div class="card my-4">
    <h5 class="card-header">Оставить отзыв:</h5>
    <div class="card-body">
      <form method="post" action="{% url 'items:add_comment' %}">
        {% csrf_token %}
        <div class="form-group mb-2">
          {{ form.text|addclass:"form-control" }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
      </form>
    </div>
  </div>
  {% endif %}
  {% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        {% if comment.author.first_name %}
        {{ comment.author.first_name }}
        {% else %}
        {{ comment.author.username }}
        {% endif %}
      </h5>
      <p>
        {{ comment.created }}
      </p>
      <p>
        {{ comment.text }}
      </p>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}